 <h1>RegistrationForm</h1>
 <body>
     <img  [src]="ImgURL">
<form #registrationForm="ngForm"(ngSubmit)="subEnq(registrationForm)">
   <p>
    <label for="FirstName">FirstName</label>
    <input type="text" name="FirstName" id="Fnm" ngModel>
</p>
<p>
    <label for="LastName">LastName</label>
    <input type="text" name="LastName" id="Lnm" ngModel>
</p>
    <p><label for="number">ContactNumber</label>
    <input type="text" name="Number" id="num" ngModel>
</p>
    <p><label for="Email">Email</label>
    <input type="text" name="Email" id="eml" ngModel>
    
</p>
<p><label for="password">Password</label>
    <input type="password" name="Password" id="pswd" ngModel>
</p>
    <p>
    <label for="city">City</label>
    <select name="City" id="city" ngModel>
        <option value="Chennai">Chennai</option>
        <option value="Bangalure">Bangalure</option>
        <option value="Coimbature">Coimbature</option>
        <option value="Mumbai">Mumbai</option>
    </select>
</p>
<p>
    <label for="gender">Gender:</label>
    <input type="radio" name="gender" value="Male" id=""  ngModel>Male
    <input type="radio" name="gender" value="FeMale" id="" ngModel>Female
</p>
<p>
<button type="submit" [disabled]="!registrationForm.valid">Submit</button>
</p>

</form>
<p>Form valid:{{registrationForm.value | json}}</p>
<p>Form valid:{{!registrationForm.valid}}</p>
</body>
