h1{
    color: blueviolet;
}
li{
    list-style: none;
    display: ruby-text;
float:left;
background-color:lightgreen;
margin:8px; padding: 8px;border: 2px;
border-style: solid;
border-radius: 10px;

}
.activeLink{
    color: aqua;
    font-weight: 800;
}

h2{
    color: blue;
}
.a,:hover{
    color: aqua;
    background-color: violet;
}