<h1>LEARNING ANGULAR CLI DATA BINDING-{{concept}}</h1>
<h2>Its Has Multiple Concept into basic two steps:</h2>
<ul>
  <li>{{subconcept}}</li> 
  <li>{{subconcept1}}</li>
</ul>
  <img [src]="imgURL" width="60%">
  <div>
    <img [src]="imgurl" width="50%">
    <img [src]="ImgUrL" width="50%">
    </div>
<div>
  <img [src]="url">
</div>
  <h2>Table Formate method:</h2>
<table>
  <tr>
  <th>ProductID</th>
  <th>ProductName</th>
  <th>Price</th>
  <th>Discount</th>
  <th>Availability</th>
  <th>Color</th>
  <th>Images</th>
</tr>
  <tr *ngFor="let p of productList">
      <td>{{p.pid}}</td>
      <td>{{p.prodName}}</td>
      <td>{{p.prc}}</td>
      <td>{{p.discount}}</td>
      <td>{{p.Availability}}</td>
      <td>{{p.color|uppercase}}</td>
      <td>{{p.imgURL}}</td>
  </tr>
</table>
<app-products></app-products>
