<h1>LEARNING ANGULAR CLI DATA BINDING-{{concept}}</h1>
<h2>Its Has Multiple Concept into basic two steps:</h2>
<ul>
  <li>{{subconcept}}</li>
  <li>{{subconcept1}}</li>
</ul>
  <img src="../assets/Data-Binding-in-Angular-8.png">
<button>submit</button>
<app-header></app-header>

<table>
  <tr>
  <th>ProductID</th>
  <th>ProductName</th>
  <th>Price</th>
</tr>
  <tr *ngFor="let p of productList">
      <td>{{p.pid}}</td>
      <td>{{p.prodName}}</td>
      <td>{{p.prc}}</td>

  </tr>
</table>
<app-products></app-products>