h1{
    color: white;
    text-align: center;
}
p{
    color: blue;
    text-align: center;
}
h2,ul{
    color: blueviolet;
}
tr{
    color:blue;
}
td{
    color: blue ;
    text-align: center;
}
h1{
    border-bottom: solid;
    border-top:solid;
    border-left:solid;
    border-right: solid;
    background-color:navy;
}