h1{
    color: blueviolet;
    text-align: center;
}
p{
    color: blue;
    text-align: center;
}
h2,ul{
    color: blueviolet;
}
tr{
    color:blue;
}
td{
    color: blue ;
    text-align: center;
}