p{
    color: blue;
}
table{
    color: royalblue;
}
td,th{
    
    padding: 10px;
    outline-style:solid; 
}
a{
    color: brown    ;
}
h3{
    color: blue;
    font-size: 50px;
}
body{
    
    margin: auto;
}
