h1{
    color: blueviolet;
}
p{
color: blue;
}
input{
    color:rgb(81, 18, 81);
    font-weight: bold;

}
label{
    font-weight: bolder;
}
body{
    max-width: 30%;
    margin: auto;
}
ErrorMsge{
    color: orangered;
}